createdAt: "2020-03-22T03:06:51.978Z"
updatedAt: "2020-03-22T03:16:49.421Z"
type: "MARKDOWN_NOTE"
folder: "4641d9edd7f71dc1dfb4"
title: "Spring boot"
tags: []
content: '''
  # Spring boot
  
  ## Links
  - https://start.spring.io/
  
  
  ## ¿Qué dependencias escoger?
  - Spring Boot DevTools
  - Lombok
  - Thymeleaf
  - Spring Web
  - Spring Data JPA
  - MySQL Driver
  
  
  ## pom.xml (Dependencias)
  ```xml
  <dependencies>
          <dependency>
              <groupId>org.springframework.boot</groupId>
              <artifactId>spring-boot-starter-data-jpa</artifactId>
          </dependency>
          <dependency>
              <groupId>org.springframework.boot</groupId>
              <artifactId>spring-boot-starter-thymeleaf</artifactId>
          </dependency>
          <dependency>
              <groupId>org.springframework.boot</groupId>
              <artifactId>spring-boot-starter-web</artifactId>
          </dependency>
  
          <dependency>
              <groupId>org.springframework.boot</groupId>
              <artifactId>spring-boot-devtools</artifactId>
              <scope>runtime</scope>
              <optional>true</optional>
          </dependency>
          <dependency>
              <groupId>mysql</groupId>
              <artifactId>mysql-connector-java</artifactId>
              <scope>runtime</scope>
          </dependency>
          <dependency>
              <groupId>org.projectlombok</groupId>
              <artifactId>lombok</artifactId>
              <optional>true</optional>
          </dependency>
          <dependency>
              <groupId>org.springframework.boot</groupId>
              <artifactId>spring-boot-starter-test</artifactId>
              <scope>test</scope>
              <exclusions>
                  <exclusion>
                      <groupId>org.junit.vintage</groupId>
                      <artifactId>junit-vintage-engine</artifactId>
                  </exclusion>
              </exclusions>
          </dependency>
      </dependencies>
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
