createdAt: "2020-06-01T20:49:31.064Z"
updatedAt: "2020-06-01T20:49:38.400Z"
type: "MARKDOWN_NOTE"
folder: "4641d9edd7f71dc1dfb4"
title: "banner.txt"
tags: []
content: '''
  # banner.txt
  
  # [ASCII Generator](http://www.network-science.de/ascii/)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
