createdAt: "2020-06-28T17:24:25.944Z"
updatedAt: "2020-06-28T17:24:25.944Z"
type: "MARKDOWN_NOTE"
folder: "fbaa9cbb70ca252646a7"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
