createdAt: "2020-04-01T00:54:41.009Z"
updatedAt: "2020-04-01T01:24:30.948Z"
type: "MARKDOWN_NOTE"
folder: "44622d40704acb1fe90d"
title: "Maven"
tags: []
content: '''
  # Maven
  ```bash
  # Crear Proyecto
  mvn -B archetype:generate \\
    -DarchetypeGroupId=org.apache.maven.archetypes \\
    -DgroupId=com.mycompany.app \\
    -DartifactId=my-app
    
  # Compilar
  mvn compile
  
  # Crear JAR
  mvn package
  
  # Ejecutar
  java -cp target/my-app-1.0-SNAPSHOT.jar com.mycompany.app.App
  
  # Compilar y Ejecutar
  mvn compile package && clear && java -cp target/my-app-1.0-SNAPSHOT.jar com.mycompany.app.App
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
